<div class="auth-container">
  <mat-card class="auth-card">
    <mat-card-header class="auth-card__header">
      <mat-card-title>{{'auth.registerTitle' | translate}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="social-buttons">
        <button mat-stroked-button class="full-width">
          {{'auth.authGoogle' | translate}}
        </button>
        <button mat-stroked-button class="full-width">
          {{'auth.authFB' | translate}}
        </button>
      </div>

      <div class="divider"><span>{{'auth.or' | translate}}</span></div>

      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="auth-form">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{'auth.name' | translate}}</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{'auth.email' | translate}}</mat-label>
          <input matInput formControlName="email" type="email">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{'auth.password' | translate}}</mat-label>
          <input matInput formControlName="password" type="password">
        </mat-form-field>

        <button mat-flat-button color="primary" class="full-width main-btn">
          {{'auth.registerBtn' | translate}}
        </button>
      </form>
    </mat-card-content>

    <mat-card-footer>
      <p class="auth-link">
        {{'auth.registerLink' | translate}} <a routerLink="/auth/login">{{'auth.loginBtn' | translate}}</a>
      </p>
    </mat-card-footer>
  </mat-card>
</div>