.custom-id-container {
  padding-bottom: 10px;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 25px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 35px;
  }
}

.final-preview {
  margin-bottom: 30px;
}

.result-text {
  font-size: 24px;
}

mat-hint {
  font-size: 13px;
  font-weight: 500;
  
  @media (max-width: 768px) {
    font-size: 12px;
  }
}