.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.tables {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.tags-section {
  width: 100%;
}

@media (max-width: 1024px) {
  .tables {
    grid-template-columns: 1fr;
  }
}

.fab {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 1000;
  // border-radius: 50%;
}

.viewAllBtn {
  border-radius: 0;
}