.navbar {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 600;
  font-size: 18px;
}

.spacer {
  flex: 1 1 auto;
}

a,
button {
  text-decoration: none;
}

.lang-switcher {
  margin-right: 15px;
  width: 80px;
  margin-left: 8px;
}

.mat-select-trigger {
  font-size: 13px;
  line-height: 20px;
}