<mat-toolbar color="primary" class="navbar">
  <span class="logo">Inventory Management</span>
  <span class="spacer"></span>

  <a mat-button routerLink="/dashboard">{{ 'header.home' | translate }}</a>
  <a mat-button routerLink="/inventory">{{ 'header.inventories' | translate }}</a>
  <a mat-button routerLink="/admin">{{ 'header.admin' | translate }}</a>
  <a mat-button routerLink="/auth/login">{{ 'header.login' | translate }}</a>
  <button mat-button>{{ 'header.logout' | translate }}</button>

  <mat-select class="lang-switcher" [value]="currentLang" (selectionChange)="changeLang($event.value)" disableRipple>
    <mat-option value="en">English</mat-option>
    <mat-option value="ru">Русский</mat-option>
  </mat-select>

  <button mat-icon-button (click)="toggleTheme()">
    @if (isDark) {
      <mat-icon>light_mode</mat-icon>
    }
    @else {
      <mat-icon>dark_mode</mat-icon>
    }
  </button>

</mat-toolbar>