.subtitle {
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 16px;
}

.empty {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}