<mat-card-title class="subtitle">{{'inventory.items'| translate}}</mat-card-title>

@if (canManage()) {
<mat-toolbar class="table-toolbar">
  @if (!isMobile()) {
  <button mat-flat-button color="primary" (click)="create()" [disabled]="activeFields().length === 0">
    <mat-icon>add</mat-icon>
    {{'buttons.create'| translate}}
  </button>

  <button mat-flat-button color="primary" (click)="edit()" [disabled]="!isSingleSelected()">
    <mat-icon>edit</mat-icon>
  </button>

  <button mat-flat-button color="warn" (click)="delete()" [disabled]="!hasSelection()">
    <mat-icon>delete</mat-icon>
  </button>

  <button mat-flat-button color="primary" (click)="viewItem()" [disabled]="!isSingleSelected()">
    <mat-icon>visibility</mat-icon>
    {{'buttons.itemDetails'| translate}}
  </button>
  } @else {
  <button mat-flat-button color="primary" [matMenuTriggerFor]="tableActions" [disabled]="!hasSelection()">
    <mat-icon>more_vert</mat-icon>
    {{ 'admin.actions' | translate }}
  </button>

  <mat-menu #tableActions="matMenu">
    <button mat-menu-item (click)="create()" [disabled]="activeFields().length === 0">
      <mat-icon>add</mat-icon> <span>{{'buttons.create'| translate}}</span>
    </button>

    <button mat-menu-item (click)="edit()" [disabled]="!isSingleSelected()">
      <mat-icon>edit</mat-icon> <span>{{'buttons.edit'| translate}}</span>
    </button>

    <button mat-menu-item (click)="delete()" [disabled]="!hasSelection()">
      <mat-icon>delete</mat-icon> <span>{{'buttons.delete'| translate}}</span>
    </button>

    <button mat-menu-item (click)="viewItem()" [disabled]="!isSingleSelected()">
      <mat-icon>visibility</mat-icon> <span>{{'buttons.itemDetails'| translate}}</span>
    </button>
  </mat-menu>
  }
</mat-toolbar>
}

@if (dataSource().length > 0) {
<div class="table-container">
  <table mat-table [dataSource]="dataSource()">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        @if (canManage()) {
        <mat-checkbox (change)="toggleAllRows()" [checked]="isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
        }

      </th>
      <td mat-cell *matCellDef="let row">
        @if (canManage()) {
        <mat-checkbox (click)="$event.stopPropagation()" (change)="toggleRow(row)"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="customId">
      <th mat-header-cell *matHeaderCellDef> Custom ID </th>
      <td mat-cell *matCellDef="let element">
        {{ element.customId }}
      </td>
    </ng-container>

    <!-- dinamic fields -->
    @for (field of activeFields(); track field.columnDef) {
    <ng-container [matColumnDef]="field.columnDef">
      <th mat-header-cell *matHeaderCellDef> {{field.label}}</th>
      <td mat-cell *matCellDef="let element">
        @if (field.type === 'boolean') {
        <mat-icon>{{ element[field.columnDef] ? 'done' : 'close' }}</mat-icon>
        } @else {
        {{ element[field.columnDef] }}
        }
      </td>
    </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns();" (click)="toggleRow(row)"></tr>

  </table>
</div>

} @else {
<div class="empty">
  <mat-icon>inventory_2</mat-icon>
  <p>{{ 'items.noItemsFound' | translate }}</p>
  @if (canManage()) {
  <p>{{ 'items.infoMessage' | translate }}</p>
  }
</div>
}