PORT=5000

BASE_URL=
CLIENT_URL=

DATABASE_URL=

JWT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

FB_CLIENT_ID=
FB_CLIENT_SECRET=
FB_CALLBACK_URL=

IMAGEKIT_ID=
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=