.create-content {
  padding: 0;
}

.create-form {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 30px;
}

.title {
  margin-bottom: 10px;
}

mat-form-field {
  width: 100%;
}

@media (max-width: 1024px) {
  .create-form {
    padding: 10px;
  }
}