mat-card {
  padding: 16px;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
}

th {
  font-weight: 600;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}