<mat-card>
  <mat-card-title class="title">{{'dashboard.lastInventories' | translate}}</mat-card-title>

  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource()" class="mat-elevation-z1">

      <ng-container matColumnDef="inventory">
        <th mat-header-cell *matHeaderCellDef>{{ 'dashboard.inventory' | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>{{ 'dashboard.description' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          <markdown [data]="element.description"></markdown>
        </td>
      </ng-container>

      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef> {{ 'dashboard.author' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.author?.name || ''}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>{{ 'dashboard.date' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.updatedAt | date:'short'}} </td>
      </ng-container>
      
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> {{ 'inventory.image' | translate }} </th>
        <td mat-cell *matCellDef="let element">
          @if (element.imageUrl) {
            <img [src]="element.imageUrl" alt="{{element.title}}" width="50" height="50"
              style="object-fit: cover; border-radius: 4px;">
          }
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</mat-card>
